<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>UMD CS Events</title>

        <link rel="stylesheet" href="https://www.dropbox.com/s/mtatp1omehv0jut/main_style.css?raw=1">

  </head>

  <body>

    <div class="wrapper">
	<div class="container">
        <img id = "logo" src = "https://www.dropbox.com/s/m9z506zxb73lnx8/UMD%20CS%20Turtle.png?raw=1"></img>

		<form class="form">
			<input type="text" id="username" placeholder="Username">
			<input type="password" id="masterkey" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="https://www.dropbox.com/s/malt0weby4eqyig/main_index.js?raw=1"></script>
  </body>
</html>
